body{
	background-color:$brand-primary;
}
.nopadding {
   padding: 0 !important;
   margin: 0 !important;
}

.navbar-toggle .icon-bar{
	width:6px !important;
	height:5px !important;
	background-color:white !important;
}
.navbar-default{
 	background-color:$brand-primary !important;
	& .navbar-toggle {
    	border: 0px !important;
    }
}
.navbar-brand{
	color: $text-color !important;
	font-size: 24px;
	font-weight: bold;
	text-align: left;
}
img{
	&.poster {
		width:100%;
		height:auto;
	}
}
.navbar{
	margin-bottom:0px !important;
}
.panel-body {
	color : #333 !important;
}
.navbar-header, .navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus ,
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus
{
  background-color: $brand-primary !important;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus,
	.navbar-default .navbar-nav > li > a {
	color:$text-color !important;
}
.video-list{
	& img{
		max-height: 100%;
		max-width: 100%;	
	}
}
div {
	&.loadmore{
		width:185px;
		height:278px;
		padding-top:10px;    
		
		& button {
			position:relative;
		    left:30%;
    	}
	}
}
@media only screen and (max-width: 576px) {
	div {
		&.loadmore{
			width:185px;
			height:278px;
			padding-top:10px;    
			
			& button {
				position:relative;
			    left:30%;
	    	}
		}
	}
}
